@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

:root {
  --clip-triangle-top: polygon(0.5em 0, 1em 1em, 0 1em);
  --clip-triangle-bottom: polygon(0 0, 1em 0, 0.5em 1em);
  --clip-triangle-right: polygon(0 0, 1em 5em, 0 1em);
  --clip-triangle-left: polygon(0 5em, 1em 0, 1em 1em);
  --clip-triangle-lower-left: polygon(0 0, 1em 1em, 0 1em);
  --clip-triangle-upper-left: polygon(0 0, 1em 0, 0 1em);
  --clip-triangle-lower-right: polygon(1em 0, 1em 1em, 0 1em);
  --clip-triangle-upper-right: polygon(0 0, 1em 0, 1em 1em);
  /* fonts */
  --font-lora: 'Lora';
  --font-new-tegomin: 'New Tegomin';
  --font-ruluko: 'Ruluko';
  --font-gentium-book-plus: 'Gentium Book Plus';
  --font-asset: 'Asset';
  --font-mystery-quest: 'Mystery Quest';
  --font-stalemate: 'Stalemate';
  --font-fontdiner-swanky: 'Fontdiner Swanky';
  --font-mclaren: 'McLaren';
  --font-im-fell-english-sc: 'IM Fell English SC';
  --font-libre-franklin: 'Libre Franklin';
  --font-merriweather-sans: 'Merriweather Sans';
  --font-alegreya: 'Alegreya';
  --font-dancing-script: 'Dancing Script';
  --font-anton: 'Anton';
  --font-francois-one: 'Francois One';
}